@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(to bottom, #f2f2f2, #dcdcdc);
}
.header-image {
  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.header-menu {
  display: flex;
  gap: 32px;
}

.header-menu-item {
  font-family: "Sarala", sans-serif;
  color: black;
  font-weight: 400;
  font-size: 18px;
}

.content {
  margin-bottom: 48px;
  border-top: 0.4px solid black;

}

.content-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.content-main-written {
  display: flex;
  flex-direction: column;
}

.content-main-written-title {
  font-family: 'Righteous', sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: black;
  margin-bottom: 5px;
}

.content-main-written-subtitle {
  font-family: "Sarala", sans-serif;
  color: black;
  font-weight: 400;
  font-size: 24px;
}

.content-main-image {
  max-width:250px;
  max-height:200px;
  width: auto;
  height: auto;
  padding-top: 32px;
}

.content-secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.content-secondary-title {
  border-top: 0.4px solid black;
  padding-top: 48px;
  font-family: 'Righteous', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: black;
  margin-bottom: 16px;
}

.content-secondary-paragraph {
  font-family: "Sarala", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: black;
  text-align: center;
  margin: 0 70px 0 70px;
}

/* Rodapé */
.baseboard {
  border-top: 0.4px solid black;
  padding: 32px;
}

.baseboard-image {
  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Pagina de Dicas*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.main-container {
  display: flex;
  gap: 15px;
  margin: 20px 10px;
  background-color: white;
  padding: 10px;
  width: 70%;
  height: 35%;
}

.video-content {
 display: flex;
}


.playlist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  max-height: 400px;
  padding: 2px;
  font-family: "Sarala", sans-serif;
  color: black;
  font-weight: 400;
  font-size: 16px;
}



.playlist::-webkit-scrollbar {
  width: 6px;
}

.playlist::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: gray;
}

.active {
  background-color: #3f3ff6;
  color: white;
}

/* Pagina de Contato*/
.main-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 48px;
  padding: 10px 45px;
  background-color: black;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;  
}

.main-contact form {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.main-contact form label {
  color: #f5f5f5;
  font-family: "Sarala", sans-serif;
  font-size: 20px;
  margin-bottom: 4px;
}

.main-contact form input {
padding: 15px;
outline: none;
border: 0;
margin-bottom: 20px;
font-family: sans-serif;
font-size: 15px;
transition: all 0.5s;
}

.main-contact form input:focus {
  border-radius: 16px;
}

.main-contact form textarea {
  padding: 10px;
  outline: none;
  border: 0;
  font-family: sans-serif;
  font-size: 15px;
  margin-bottom: 30px;
  transition: all 0.5s;
}

.main-contact form textarea:focus {
  border-radius: 16px;
}

.main-contact form button {
  padding: 15px;
  cursor: pointer;
  font-family: "Sarala", sans-serif;
  font-size: 16px;
  background: transparent;
  color: #f5f5f5;
  transition: all 1s;
  margin-bottom: 20px;
}

.main-contact form button:hover {
  background-color: #f2f2f2;
  color: black;
  border-radius: 16px;
}

/* Página do Agradecimento */

.main-thanks {
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
background: linear-gradient(to bottom, #f2f2f2, #dcdcdc);
flex-direction: column;
}

.text {
font-family: 'Righteous', sans-serif;
font-size: 45px;
color: black;
margin-bottom: 30px;
}

.paragraph {
  font-family: "Sarala", sans-serif;
  color: black;
  margin-top: 50px;
}

.btn {
  margin-top: 20px;
  padding: 15px 55px;
  background: #f5f5f5;
  text-decoration: none;
  color: black;
  font-family: "Sarala", sans-serif;
  font-size: 18px;
  transition: all 0.5s;
}

.btn:hover {
  border-radius: 16px;
}

@media (max-width: 900px) {
  .tips-page {
    flex-direction: column;
    margin-top: 60px;
    height: -webkit-fill-available;
  }

  .main-container, .main-video-content video {
    width: 100%;
  }
}